{%- if icon != 'none' -%}
  {%- if icon == 'custom' and custom_image != blank -%}
    <span class="svg-wrapper">
      <img src="{{ custom_image | img_url:"" }}" class="icon" style="width: 100%">      
    </span>
  {%- else -%}
    {%- assign file = icon | replace: '_', '-' | prepend: 'icon-' | append: '.svg' -%}
    <span class="svg-wrapper">{{ file | inline_asset_content }}</span>
  {%- endif -%}

{%- endif -%}
